.button {
  margin-top: -1.4rem;
  background-color: transparent;
  color: $color-blue;
  font-size: 1.6rem;
  padding: 1.2rem 3rem;
  font-weight: normal;
  line-height: 1.5;
  box-sizing: border-box;
  border: 0.1rem solid $color-blue;
  border-radius: $default-border-radius;
  transition: 0.2s;
  min-width: 18rem;
  text-align: center;
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
    background-color: $color-blue;
    border: 0.1rem solid transparent;
    color: #fff;
  }

  &--delete {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 4.35rem;
    z-index: 6;
    fill: $color-red;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }
}
