$color-blue: #007d89;
$color-low-dark: #202425;
$color-red: #bb3131;
$color-tech-white: #f3f7f7;
$default-border-radius: 0.4rem;
$default-font-stack: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
